<div class="grid">
  <div class="d-flex justify-content-center bd-highlight mb-3">
      <div class="d-flex flex-nowrap">
        <div class="p-2">
          <label>Playing as: </label>
          <span class="badge badge-danger">{{currentPlayer.name}}</span>
        </div>
      </div>
    </div>
  <div class="cards" *ngFor="let card of cards">
    <div class="card" [class.flipped]="card.flipped" [ngClass]="{'captured': card.captured}" (click)="flip(card)">
      <img class="front" src="{{ card.url }}" *ngIf="card.flipped === true" [@fadeAnimation]/>
      <img class="back" src="{{ backCard.url }}" *ngIf="card.flipped === false" [@fadeAnimation]/>
    </div>
  </div>
</div>
