.grid {
    min-width: 1000px;
    max-width: 1250px;
    padding:20px;
    .card {        
        float: left;
        height: 17vw;
        margin: 1%;
        width: 23%;
        cursor: pointer;
        img.front {
            max-width:50%;
            max-height:100%;
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        img.back {
            max-width:100%;
            max-height:100%;
        }
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }
    
    .captured {
        visibility: hidden;
    }
    .cards .flipped {
        background: #a2c0d7;
        border: 1px solid;
    }
}